@model PhoenixRising.InternalAPI.Account.Account.GetUserDetailsResponse
@{
    ViewBag.Title = "Account";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Errors"] != null)
{
    <div class="alert alert-danger">@TempData["Errors"]</div>
}

<br />
@Html.ActionLink("Logout", "Logout", "Account") | @Html.ActionLink("Edit Basic Info", "EditInfo", "Account") | @Html.ActionLink("Change Email", "ChangeEmail", "Account") | @Html.ActionLink("Change Password", "ChangePassword", "Account")
<br /><br />
Username: @Model.NICKNAME
<br />
Name: @Model.FIRST_NAME @Model.LAST_NAME
<br />
Email Address: @Model.EMAIL
<br /><br />
Currency 1: @Model.CURRENCY_AMOUNT
<br />
Currency 2: @Model.CURRENCY_AMOUNT_2
<br />
Level: @Model.LEVEL
<br /><br />
Developer: @Model.PERMISSIONS.Developer
<br />
Administrator: @Model.PERMISSIONS.Administrator
<br />
Community Manager: @Model.PERMISSIONS.CommunityManager
<br /><br />
@if (Model.PERMISSIONS.Developer)
{
    @Html.ActionLink("Game Download", "GameClient", "Download");
    <br /><br />

    @Html.ActionLink("Server Download", "GameServer", "Download");
}
<br /><br />
@if (Model.PERMISSIONS.Administrator)
{
    @Html.ActionLink("Admin Panel", "Index", "Admin");
}