@model PhoenixRising.Website.Models.Login
@{
    ViewBag.Title = "Login";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Errors"] != null)
{
    <div class="alert alert-danger">@TempData["Errors"]</div>
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "Login-form" }))
{
    @Html.AntiForgeryToken();
    <row>
        <div class="col-md-12">
            <h3>Log In</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.password)
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <input type="submit" value="Login" />
            <br /><br />
            @Html.ActionLink("Register account", "Register", "Account")
            <br /><br />
            @Html.ActionLink("Forgot your password?", "PasswordReset", "Account")
        </div>
    </row>
}