@model PhoenixRising.Website.Models.PasswordReset
@{
    ViewBag.Title = "Password Reset";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Errors"] != null)
{
    <div class="alert alert-danger">@TempData["Errors"]</div>
}

@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { id = "Reset-form" }))
{
    @Html.AntiForgeryToken();
    <row>
        <div class="col-md-12">
            <h3>Reset Password</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <input type="submit" value="Reset Password" />
        </div>
    </row>
}